<template>
    <div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-12">
                    <div class="card">
                        <div class="card-header">404 - Página no encontrada</div>
                        <div class="card-body">
                            <router-link class="btn btn-primary stretched-link" tag="a" to="/">Regresar al inicio</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Error"
    }
</script>

<style scoped>
    .card{
        margin-top: 4rem;
    }
</style>
