<template>
    <div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div class="card-header">Iniciar sesión</div>
                        <div class="card-body">
                            <form @submit.prevent="login()">
                                <div class="alert alert-danger" role="alert" v-show="error">
                                    {{ error }}
                                </div>

                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">Correo electrónico</label>
                                    <div class="col-md-6">
                                        <input v-model="form.email" type="email" id="email_address" class="form-control" name="email-address" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                                    <div class="col-md-6">
                                        <input v-model="form.password" type="password" id="password" class="form-control" name="password" required>
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Iniciar sesión
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Home",
        mounted() {
            //
        },
        data() {
            return {
                form: {
                    email:    '',
                    password: ''
                },
                error: false
            }
        },
        methods: {
            login() {
                this.error = false;
                axios.post('/api/login', this.form).then(res => {
                    localStorage.setItem('api_token', res.data.api_token);
                    window.axios.defaults.headers.common['Authorization'] = `Bearer ${res.data.api_token}`;
                    this.$router.push({name: 'dashboard'});
                }).catch(err => {
                    this.error = err.response.data.message;
                });
            }
        },
    }
</script>

<style scoped>
    .card{
        margin-top: 4rem;
    }
</style>
