<template>
    <div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-12">
                    <div class="card">
                        <div class="card-header">Welcome</div>
                        <div class="card-body">
                            Dashboard ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        async created() {
            try {
                await this.$store.dispatch('getUser');
            } catch (e) {
                console.error(error);
            }
        },
        computed: {

        }
    }
</script>

<style scoped>
    .card{
        margin-top: 4rem;
    }
</style>
