<template>
    <div>
        <layout>
            <router-view></router-view>
        </layout>
    </div>
</template>

<script>
    import Layout from "../layouts/Layout";
    export default {
        name: "App",
        components: {
            Layout
        },
        data() {
            return {
                //
            }
        },
    }
</script>

<style scoped>

</style>
