<template>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="#">Laravel6</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link">{{ this.$store.getters.fullNameUser }}</a>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" tag="a" to="" v-on:click.native="logout">Salir</router-link>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "NavBar",
        methods: {
            logout() {
                localStorage.removeItem('api_token');
                this.$router.push({name: 'home'});
                this.$store.dispatch('logoutUser');
            }
        }
    }
</script>

<style scoped>
    .navbar-laravel
    {
        box-shadow: 0 2px 4px rgba(0,0,0,.04);
    }

    .navbar-brand , .nav-link, .my-form, .login-form
    {
        font-family: Raleway, sans-serif;
    }
</style>
