<template>
    <div>
        <nav-bar v-if="this.$store.getters.getUserData"/>
        <slot></slot>
    </div>
</template>

<script>
    import NavBar from "../components/NavBar";
    export default {
        name: "Layout",
        components: {
            NavBar
        },
    }
</script>

<style scoped>

</style>
